{% extends "base.html" %}

{% block title %}{{ post.name }}{% endblock title %}
{% block header %}{{ post.name }}{% endblock header %}

{% block content %}

{% if post.featured_image %}
<img src="{{ post.featured_image.url}}" alt="">
{% endif %}

<h2>{{ post.name }}</h2>
<p>{{ post.description|safe }}</p>

<hr>
{% if request.user == post.author %}
    <div class="d-flex gap-1">
    <a class="btn btn-success" href="{% url 'post_edit' post.pk %}"> Редактировать</a>
    <a class="btn btn-danger" href="{% url 'post_delete' post.pk %}"> Удалить</a>
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Отправить комментарий</button>
</form>

{% for comment in comments %}
    <div>
        {{ comment }}
        {% if request.user == comment.author %}
            <form action="{% url 'delete_comment' comment.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">X</button>
            </form>
        {% endif %}
    </div>
{% endfor %}

{% endblock content %}
