{% extends "base.html" %}

{% block title %}{{ post.name }}{% endblock title %}
{% block header %}{{ post.name }}{% endblock header %}

{% block content %}

{% if post.featured_image %}
<img src="{{ post.featured_image.url}}" alt="">
{% endif %}

<h2>{{ post.name }}</h2>
<p>{{ post.description|safe }}</p>

<hr>
    <div class="d-flex gap-1">
        <a class="btn btn-success" href="{% url 'post_edit' post.pk %}"> Редактировать</a>
        <a class="btn btn-danger" href="{% url 'post_delete' post.pk %}"> Удалить</a>
    </div>

<form method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit">Отправить комментарий</button>
</form>

{% for comment in comments %}
    <div>
        {{ comment }}
        {% if request.user == comment.author %}
            <div class="d-flex gap-1">
                <form action="{% url 'delete_comment' comment.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">X</button>
                </form>
                <button class="btn btn-primary" onclick="toggleEditForm({{ comment.pk }})">Отредактировать</button>
            </div>
            <div id="edit-form-{{ comment.pk }}" class="edit-form" style="display: none;">
                <form action="{% url 'comment_edit' comment.pk %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endfor %}

<script>
    function toggleEditForm(commentId) {
        var form = document.getElementById('edit-form-' + commentId);
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>

{% endblock content %}
